/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-hide{
  display: none;
  }

  .loading-start {
    animation-name: load-pokemon;
    animation-duration: 3s;
}

@keyframes load-pokemon {

 15% {  

    padding-bottom: 0px;
}
100% { 

    padding-bottom: 200px;
}
}

.temperament {
  Background-color: rgb(199, 118, 47);
   color: #ffffff;
}

.temperament:focus {
  Background-color: rgb(199, 118, 47);
  color: #ffffff;
}

.temperament::placeholder {
  color: #ffffff;
} */
