
.container-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: rgb(30, 29, 29, 0.8);

}

.footer {
    padding: 10px;
}

.footer,
.footer a {
    padding: 15px 5px;
    color: bisque;
}